# Server configs
DOMAIN=localhost # server domain
PORT=3000 # server port

# Postgres configs
POSTGRES_HOST=be-suwit-postgres # postgres host
POSTGRES_PORT=6190 # postgres port
POSTGRES_USER=kel2 # postgres user
POSTGRES_PASSWORD=kel2 # postgres password
POSTGRES_DB=suwit # postgres database

# JWT secret key
# use: openssl rand -base64 32
JWT_SECRET=secret